jee-template-webapp/src/main/resources/schema/FinancialService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://local/FinancialService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FinancialService" targetNamespace="http://local/FinancialService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://local/FinancialService/">
      <xsd:element name="GetProducts">
        <xsd:complexType>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetProductsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="product" type="tns:Product" maxOccurs="unbounded" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetProduct">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="productid" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetProductResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="product" type="tns:Product"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Product">
      	<xsd:attribute name="productid" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="symboltype" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="symbol" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="cuisp" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetProductsRequest">
    <wsdl:part element="tns:GetProducts" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetProductsResponse">
    <wsdl:part element="tns:GetProductsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetProductRequest">
  	<wsdl:part name="parameters" element="tns:GetProduct"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProductResponse">
  	<wsdl:part name="parameters" element="tns:GetProductResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FinancialService">
    <wsdl:operation name="GetProducts">
      <wsdl:input message="tns:GetProductsRequest"/>
      <wsdl:output message="tns:GetProductsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
    	<wsdl:input message="tns:GetProductRequest"></wsdl:input>
    	<wsdl:output message="tns:GetProductResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinancialServiceSOAP" type="tns:FinancialService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://local/FinancialService/GetProducts"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinancialService">
    <wsdl:port binding="tns:FinancialServiceSOAP" name="FinancialServiceSOAP">
      <soap:address location="http://local/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
